 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Dancing+Script:wght@700&family=Kufam:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Poppins:wght@200;300;400;700&family=Tajawal:wght@400;700&family=Work+Sans:wght@500;600;700;800&display=swap');

 * {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
 }

 li {
     list-style: none;
 }

 html {
     font-size: 10px;
     scroll-behavior: smooth;
 }

 body {
     font-family: 'Tajawal', sans-serif;
     background-color: #d9e2ec;
 }

 h1 {
     font-size: 5rem;
     margin-bottom: 1rem;
     color: #f0f4f8;
 }

 h3 {
     font-size: 2rem;
     line-height: 1.8;
     margin-bottom: 2rem;
     color: #d5d5d5;
 }

 p {
     font-style: 1.6rem;
     color: #345375;
     line-height: 2;
 }

 /* nav section */
 .nav-container {
     background-color: #334e68;
     color: #f0f4f8;
 }

 @media (max-width:760px) {
     .about-us img {
         display: none;
     }
 }

 nav {
     width: 90%;
     margin: 0 auto;
     max-width: 1366px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-height: 10vh;
     font-size: 1.6rem;
 }

 nav .logo {
     font-family: 'Kufam', sans-serif;
     color: #f0f4f8;
     flex-grow: 3;
     margin: 0;
     transition: 0.5s ease;
     -webkit-transition: 0.5s ease;
     -moz-transition: 0.5s ease;
     -ms-transition: 0.5s ease;
     -o-transition: 0.5s ease;
     cursor: pointer;
 }

 nav .logo:hover {
     color: #27ab83;
 }

 nav ul {
     display: flex;
     justify-content: space-between;
     flex-grow: 1;
 }

 nav ul li a {
     font-family: 'Kufam', sans-serif;
     color: #f0f4f8;
     font-size: 1.2rem;
     transition: 0.5s ease;
     -webkit-transition: 0.5s ease;
     -moz-transition: 0.5s ease;
     -ms-transition: 0.5s ease;
     -o-transition: 0.5s ease;
     display: block;
 }

 nav ul li a:hover {
     color: orange;
     padding-left: 15px;
 }

 /* hero section */
 .hero-section {
     height: 90vh;
     position: relative;
 }

 .hero-section::after {
     content: "";
     position: absolute;
     top: 0%;
     bottom: 0%;
     left: 0%;
     right: 0%;
     background-image: linear-gradient(90deg, rgba(51, 78, 104, 0.2)0%, rgba(20, 63, 92, 0.8)20%), url("background.jpg");
     background-size: cover;
     z-index: -1;
     animation: herobackgrond 2s ease-in;
     -webkit-animation: herobackgrond 4s ease-in;
 }

 .content {
     width: 90%;
     margin: 0 auto;
     max-width: 1366px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     height: 90vh;
 }

 h1 span, h3 span {
     color: #27ab83;
 }

 .btn {
     font-family: inherit;
     font-weight: bold;
     padding: 0.75rem 3rem;
     border: none;
     outline: none;
     background-color: #27ab83;
     border-radius: 0.5rem;
     -webkit-border-radius: 0.5rem;
     -moz-border-radius: 0.5rem;
     -ms-border-radius: 0.5rem;
     -o-border-radius: 0.5rem;
     transition: 0.5s ease;
     -webkit-transition: 0.5s ease;
     -moz-transition: 0.5s ease;
     -ms-transition: 0.5s ease;
     -o-transition: 0.5s ease;
 }

 .btn a {
     color: #243b53;
     font-size: 1.6rem;
     transition: 0.5s ease;
 }

 .btn:hover {
     background-color: #466d96;
 }

 .btn:hover a {
     color: #27bd90;
 }

 .btn:active {
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
 }

 /* qualites section */
 .qualiteis {
     width: 90%;
     margin: 4rem auto;
     max-width: 1366px;
     height: 100%;
     min-height: 50vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;


 }

 .qualiteis h2 {
     font-size: 3rem;
 }

 .qualiteis .cont-box {
     display: flex;
     justify-content: space-between;
     grid-gap: 2rem;
     padding-top: 5rem;
 }

 @media (max-width:760px) {
     .qualiteis .cont-box {
         flex-direction: column;
     }

     .qualiteis .cont-box .box {
         width: 80%;
     }

     .qualiteis h2 {


         padding-left: 90px;
     }
 }

 .box {
     background-color: #bcccdc;
     padding: 4rem 0;
     width: 30%;
     overflow: hidden;
 }

 .box h3 {
     color: black;
     text-align: center;
     font-size: 2.2rem;
     margin: 0%;
     z-index: 9;   transition: 1s ease-in;
     -webkit-transition: 1s ease-in;
     -moz-transition: 1s ease-in;
     -ms-transition: 1s ease-in;
     -o-transition: 1s ease-in;
 }

 .box .header-box {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .header-box i {
     font-size: 2.2rem;
     margin-right: 10px;
     color: #27ab83;
     transition: 1s ease-in;
     -webkit-transition: 1s ease-in;
     -moz-transition: 1s ease-in;
     -ms-transition: 1s ease-in;
     -o-transition: 1s ease-in;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}

 .box:hover i{
    box-shadow: 1px 100px 48px 253px #27ab83;
      color: white;
      background-color: black;
 }
 .box:hover h3   {
    color: white;
 }
 .box p {
     text-align: center;
     width: 70%;
     margin: 1rem auto;
     color: #243b53;
     font-size: 1.8rem;
 }

 /* about us */
 .about-container {
     background-color: #334e68;
 }

 .about-us {
     width: 90%;
     max-width: 1366px;
     margin: 0 auto;
     height: 50vh;
     display: flex;
     justify-content: space-between;
 }

 .content-right {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .content-right h2 {
     font-size: 3rem;
     color: #d9e2ec;
     margin-bottom: 2rem;
 }

 .content-right p {
     margin-top: 1rem;
     color: #d5d5d5;
     width: 80%;
     font-size: 1.6rem;
 }

 .about-us img {
     width: 100%;
     height: 100%;
 }

 /* contact */
 .contact {
     width: 90%;
     margin: 3rem auto;
     max-width: 1366px;
     height: 100vh;
     padding: 2rem 0;
     text-align: center;
 }

 label, input, textarea {
     font-family: inherit;
     font-size: 1.6rem;
 }

 .contact form {
     display: flex;
     flex-direction: column;
     padding: 5rem 0;
     width: 100%;
     max-width: 50%;
     margin: 0 auto;
 }

 form .btn {
     width: 100px;
     align-self: center;
     margin-top: 2rem;
 }

 input, textarea {
     margin: 10px 0;
     border: none;
     outline: none;
     padding: 0.75rem 2rem;
     border-radius: 1rem;
     -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
     -ms-border-radius: 1rem;
     -o-border-radius: 1rem;
 }

 /* footer */
 footer {
     background-color: #243b53;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 8vh;
 }

 footer p {
     color: #d9e2ec;
     font-size: 1.8rem;
 }

 /* animation */
 @keyframes herobackgrond {
     0% {
         scale: 1.2;
     }

     50% {
         scale: 1;
     }

     100% {
         scale: 1.2;
     }
 }
